<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-12 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Chamada Qr</h5>

        <p>
          Projeto desenvolvido para o controle de presença em aulas e eventos
          utilizando QR Code. O sistema permite que os alunos façam check-in
        </p>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2025 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/"
      >uniamerica.chamadaQr.com.br</a
    >
  </div>
  <!-- Copyright -->
</footer>
