<form>
  <form #formulario="ngForm">
    <!-- Professor -->
    @if (!selectedProfessor) {
    <p class="text-danger fw-bold">Selecione um professor</p>
    } @else {
    <h3>Professor Selecionado</h3>
    <p>{{ selectedProfessor.nome }}</p>
    }

    <!-- Turma -->
    @if (!selectedTurma) {
    <p class="text-danger fw-bold">Selecione uma turma</p>
    } @else {
    <h3>Turma Selecionada</h3>
    <p>{{ selectedTurma.curso }}</p>
    <p>{{ selectedTurma.ano }}</p>
    <p>{{ selectedTurma.professorResponsavel?.nome }}</p>
    <p>Quantidade de alunos na chamada: {{ selectedTurma.alunos?.length }}</p>
    }
  </form>

  @if ( selectedProfessor && selectedTurma &&
  selectedTurma.professorResponsavel?.nome === selectedProfessor.nome ) {
  <button type="button" class="btn btn-primary mt-3" (click)="save()">
    Iniciar chamada
  </button>
  } @else {
  <p class="text-warning mt-3">
    O professor selecionado deve ser o responsável pela turma.
  </p>
  }
</form>

<!-- Submit button -->
