<br />
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="">
        <div class="centralizar">
          <h2 class="mb-2 text-2xl font-bold">Cadastro novo turma</h2>

          <form #formulario="ngForm">
            Nome do curso<br />
            <input
              required
              [(ngModel)]="turma.curso"
              type="text"
              class="mb-2 form-control"
              name="nome"
            />
            Quantidade de alunos na turma<br />
            <input
              required
              [(ngModel)]="turma.qtdAlunos"
              type="text"
              class="mb-2 form-control"
              name="ra"
            />
            Semestre<br />
            <input
              required
              [(ngModel)]="turma.semestre"
              type="text"
              class="mb-2 form-control"
              name="password"
            />
            <div class="mb-4 col-12">
              @if(turma.professorResponsavel != null){
              <button
                type="button"
                class="btn btn-warning"
                (click)="openProfessormodal()"
              >
                Trocar de professor responsavel
              </button>
              }@else {
              <button
                type="button"
                (click)="openProfessormodal()"
                class="btn btn-success"
              >
                Selecionar professor responsavel
              </button>
              }
            </div>
            <div class="mb-4 col-12">
              @if(turma.alunos != null){
              <button
                type="button"
                class="btn btn-warning"
                (click)="openAlunosmodal()"
              >
                Trocar alunos da turma
              </button>
              }@else {
              <button
                type="button"
                (click)="openAlunosmodal()"
                class="btn btn-success"
              >
                Selecionar alunos da turma
              </button>
              }
            </div>
            <button
              (click)="save()"
              [disabled]="!formulario.valid"
              class="w-full btn btn-success"
            >
              Salvar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalAlunosSelect>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <app-alunos-list
      [isTurmaSelect]="true"
      [currentSelectedAlunos]="turma.alunos"
      (confirm)="handleAlunosConfirm($event)"
    ></app-alunos-list>
  </div>
</ng-template>

<ng-template #modalProfessor>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-12 azul">
          <div class="">
            <div class="card-body alinharDiretira">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">NOME</th>
                    <th class="flex justify-end gap-2" scope="col">
                      Selecionar
                    </th>
                  </tr>
                </thead>
                <tbody>
                  @for (al of lista; track $index) {
                  <tr>
                    <td>{{ al.id }}</td>
                    <td>{{ al.nome }}</td>
                    <td class="flex justify-end gap-2">
                      <button
                        class="btn btn-success"
                        (click)="selecionarProfessor(al)"
                      >
                        Selecionar
                      </button>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
