<br />
<div class="container">
  <div class="row">
    <div class="col-12 azul">
      <div [ngClass]="{ card: !isTurmaSelect }">
        <div class="card-body alinharDiretira">
          <div
            class="d-flex align-items-center justify-content-between mb-3 text-center col-12"
          >
            <div class="d-flex text-nowrap gap-2">
              <p class="fs-3 m-0 fw-bold">Criar chamadas</p>
              <button
                (click)="selectTurma()"
                [disabled]="selectedTurma"
                class="btn btn-primary"
              >
                Selecionar turma
              </button>
              <button
                (click)="openSelectProfessorModal()"
                class="btn btn-primary"
              >
                Selecionar professor
              </button>
            </div>
            <p class="my-2 btn btn-primary" (click)="new()">
              Iniciar uma chamada
            </p>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Data de criação</th>
                <th scope="col">Prof. Responsavel</th>
                <th scope="col">Qtd Alunos</th>
                <th scope="col">Curso</th>
                <th class="d-flex justify-content-end gap-2" scope="col">
                  Ações
                </th>
              </tr>
            </thead>
            <tbody>
              @for (al of lista; track $index) {
              <tr>
                <td>{{ al.createdAt }}</td>
                <td>{{ al.professor.nome }}</td>
                <td>{{ al.qtdAlunos }}</td>
                <td>
                  {{ al.turma.curso }}
                </td>
                <td class="d-flex justify-content-end gap-2">
                  <button class="btn btn-success" (click)="openChamada(al)">
                    Ver chamada
                  </button>
                  <button class="btn btn-warning" (click)="openQRcode(al)">
                    Ver QR Code
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalChamadaDetails>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <app-presenca-list
      [chamada]="selectedChamadaDetails"
      (customEvent)="myCustomEvent($event)"
    ></app-presenca-list>
  </div>
</ng-template>

<ng-template #modalChamadaForm>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <app-chamada-form
      [chamada]="chamadaEdit"
      [professor]="selectedProfessor"
      [turma]="selectedTurma"
      (customEvent)="myCustomEvent($event)"
    ></app-chamada-form>
  </div>
</ng-template>

<ng-template #modalTurmaSelectChamadaForm>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <app-turma-list
      [isTurmaSelect]="true"
      (turmaSelected)="onTurmaSelected($event)"
    ></app-turma-list>
  </div>
</ng-template>

<ng-template #modalProfessor>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-12 azul">
          <div class="">
            <div class="card-body alinharDiretira">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">NOME</th>
                    <th class="flex justify-end gap-2" scope="col">
                      Selecionar
                    </th>
                  </tr>
                </thead>
                <tbody>
                  @for (al of listaProfessores; track $index) {
                  <tr>
                    <td>{{ al.id }}</td>
                    <td>{{ al.nome }}</td>
                    <td class="flex justify-end gap-2">
                      <button
                        class="btn btn-success"
                        (click)="selecionarProfessor(al)"
                      >
                        Selecionar
                      </button>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
