<form>
  <mdb-form-control class="mb-3 mt-3">
    <input
      mdbInput
      type="text"
      id="formControlLg"
      class="form-control form-control-lg"
      mdbTooltip="Tempo que a chamada vai aceitar presenças"
    />
    <label
      mdbLabel
      class="form-label"
      for="formControlLg"
      mdbTooltip="Tempo que a chamada vai aceitar presenças"
      >Nome do professor</label
    >
  </mdb-form-control>
  <mdb-form-control class="mb-3 mt-3">
    <input
      mdbInput
      type="text"
      id="formControlLg"
      class="form-control form-control-lg"
      mdbTooltip="Tempo que a chamada vai aceitar presenças"
    />
    <label
      mdbLabel
      class="form-label"
      for="formControlLg"
      mdbTooltip="Tempo que a chamada vai aceitar presenças"
      >Email institucional</label
    >
  </mdb-form-control>
  <mdb-form-control class="mb-3 mt-3">
    <input
      mdbInput
      type="text"
      id="formControlLg"
      class="form-control form-control-lg"
      mdbTooltip="Tempo que a chamada vai aceitar presenças"
    />
    <label
      mdbLabel
      class="form-label"
      for="formControlLg"
      mdbTooltip="Tempo que a chamada vai aceitar presenças"
      >Senha</label
    >
  </mdb-form-control>
  <mdb-form-control class="mb-3 mt-3">
    <input
      mdbInput
      type="text"
      id="formControlLg"
      class="form-control form-control-lg"
      mdbTooltip="Tempo que a chamada vai aceitar presenças"
    />
    <label
      mdbLabel
      class="form-label"
      for="formControlLg"
      mdbTooltip="Tempo que a chamada vai aceitar presenças"
      >Turma</label
    >
  </mdb-form-control>
  <!-- Submit button -->
  <button
    mdbRipple
    type="button"
    (click)="save()"
    class="btn btn-warning btn-block mb-4"
  >
    Registrar professor
  </button>
</form>
