<form class="bg-white p-2">
  <mdb-form-control class="mb-3 mt-3">
    <input
      mdbInput
      type="text"
      id="nome"
      class="form-control form-control-lg"
      [(ngModel)]="professor.nome"
      name="nome"
    />
    <label mdbLabel class="form-label" for="nome">Nome do professor</label>
  </mdb-form-control>
  <mdb-form-control class="mb-3 mt-3">
    <input
      mdbInput
      type="email"
      id="email"
      class="form-control form-control-lg"
      [(ngModel)]="professor.email"
      name="email"
    />
    <label mdbLabel class="form-label" for="email">Email institucional</label>
  </mdb-form-control>
  <mdb-form-control class="mb-3 mt-3">
    <input
      mdbInput
      type="password"
      id="senha"
      class="form-control form-control-lg"
      [(ngModel)]="professor.senha"
      name="senha"
    />
    <label mdbLabel class="form-label" for="senha">Senha</label>
  </mdb-form-control>
  <!-- <div class="mb-4 col-12">
    @if(professor.turmas != null){
    <button type="button" class="btn btn-warning" (click)="selecionarTurma()">
      Trocar de turma
    </button>
    }@else {
    <button type="button" (click)="selecionarTurma()" class="btn btn-success">
      Selecionar turma
    </button>
    }
  </div> -->

  <button
    mdbRipple
    type="button"
    (click)="save()"
    class="btn btn-warning btn-block mb-4"
  >
    Registrar professor
  </button>
</form>

<ng-template #modalTurmaSelect>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <app-turma-list></app-turma-list>
  </div>
</ng-template>
